html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: #333;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

* {
  box-sizing: border-box;
}

a {
  color: $mainOrange;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.hidden {
  display: none;
}

.lazy {
  transition: ease-in 0.4s;
  opacity: 0;
}
.lazy.loaded,
.lazy[data-was-processed='true'] {
  opacity: 1;
}
